@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">My Burlington Test</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC Exercise</h2>
        <p>
            This Application allow you to view User list, Add new user,Edit a user and Delete a user
        </p>
        <p><a class="btn btn-default" href="https://github.com/rotem925/recruit_ex/blob/master/ASP.NET%20MVC%20Exercise.md">Learn more &raquo;</a></p>
    </div>

</div>